.chatListItem { 
  display: flex;
  cursor: pointer;
  padding-right: 16px;
  font-size: 12px;
  align-items: center;
  position: relative;
  

  &:hover {
    background-color: var(--bg-primary-300);
  }

  &Selected {
    background-color: var(--bg-primary-200);
  }

  &Avatar {
    border-radius: 3px;
    position: relative;
    & img {
      width: 60px;
      height: 60px;
    }
    
    &::after {
      content: '';
      display: inline-block;
      position: absolute;
      border-radius: 50%;
      width: 15px;
      height: 15px;
      bottom: 0;
      right: 0;
      transform: translate(30%, 30%);
      z-index: 10;
    }
  
  }
  
  &Online &Avatar::after {
    background-color: var(--success-main);
  }

  &Offline &Avatar::after {
    background-color: var(--error-main);
  }

  &TypographyContainer {
    padding-left: 16px;
  }

  &Primary {
    display: -webkit-box;
    color: var(--text-primary);
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &Secondary {
    color: var(--text-secondary);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
