.chatListSection {
  display: flex;
  flex-direction: column;
  max-width: 262px;
  padding: 0 16px 20px;
  background-color: var(--bg-primary);
}

.chatListContainer {
  padding: 16px 0;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
}

.chatListItem {
  margin-bottom: 10px;
}

.tabs {
  margin: 0 -16px;
}