.container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.messageList {
}

.chatContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: var(--bg-primary-300);
}


.textFieldInput {
    width: 100%;
    margin-right: 10px;
}

.newMessageSection {
    padding: 16px 30px 20px 10px;
    display: flex;
    justify-content: space-between;
}

.sendButton {
    font-size: 12px;
    min-width: 195px;
}