@import "./reset";

:root {
  --primary: #8e8cf0;
  
  --secondary: #3c3c84;
  
  --tertiary: #bb6bd9;
  
  --success-main: #65D356;
  
  --error-main: #e40d15;
  
  --warning: #f2994a;
  
  --bg-primary: #FFFFFF;
  --bg-primary-100: #F8F8F8;
  --bg-primary-200: #D8DFE6;
  --bg-primary-300: #C0CBD8;
    
  --bg-secondary: #5B666F;

  --text-primary: #333333;
  --text-secondary: #999999;
  
  --star: #f2c94c;
  
  --chart: #56ccf2;
  
  --white-with-opacity-5: rgba(255, 255, 255, 0.05);
  --white-with-opacity-15: rgba(255, 255, 255, 0.15);
  --white-with-opacity-25: rgba(255, 255, 255, 0.25);

  --gradient-pink-right-part: #f2994a;
  --gradient-pink-left-part: #6a4dbc;
  --gradient-pink-base: linear-gradient(90.6deg, #6a4dbc 0.47%, #f2994a 137.94%);
}
