.tab {
    width: 100%;
    color: var(--text-secondary);
    background-color: var(--bg-primary-100);
    padding: 10px 0;
    
    &Selected {
      background-color: var(--bg-primary);
    }
  }
  