.layout {
  height: 100vh;
 }

.header {
  height: var(--header-height);
  padding: 20px 80px;
  font-size: 24px;
  background-color: var(--bg-primary-main);
}

.container {
  display: flex;
  flex-direction: column;
  height: var(--main-height);
  padding: 20px 80px 48px;
  background: var(--bg-secondary);
}
